[2018-02-28 02:55] alex-polunochev opened #1 "Exception in function shouldRetryRequest() when checking HTTP methods to retry"
In function `shouldRetryRequest` there's this block of code
[code]
that fails evaluating second condition, because `httpMethodsToRetry` is an object, not an array.

Below goes the output from dev console, when the breakpoint was set on the line given above ^^^:
[code]

That looks different from what gets set in `raxConfig`
[code]

[2018-03-03 19:07] JustinBeckwith commented on #1
Weird.  `httpMethodsToRetry` should be an array, not an object.  It would be super helpful if you could share your code :)

[2018-04-05 08:02] riksnelders opened #4 "Double base url appended"
Using /v1/api via:
[code]

On error results in
 '/v1/api/v1/api'  call

[2018-04-05 16:14] RobertFischer commented on #1
I am getting this, too.

Here's my relevant code.

[code]

[2018-04-05 17:12] JustinBeckwith commented on #4
Yar.  Can you share a full code sample please?

[2018-04-06 06:47] riksnelders commented on #4
[code]

[2018-04-20 21:49] chaitya1001 commented on #1
I am also getting error,

Here is my relevant code,
[code]

And here is the error,

[code]

[2018-04-30 14:22] DiegoRBaquero opened #5 "Global interceptor options"
Hello,

How could I create rax with options to add it to the global interceptor?

Thank you

[2018-04-30 15:01] DiegoRBaquero commented on #5
Figured it out:

[code]

[2018-04-30 15:01] #5 closed

[2018-04-30 15:01] DiegoRBaquero opened #6 "retryDelay is never used"

[2018-05-03 12:54] riksnelders commented on #4
Fixed for now with using base url attracted from js

[2018-06-29 23:56] srevenant opened #12 "docs/syntax not working as shown? and/or not catching ECONNREFUSED?"
This is likely just my own mis-understanding of Node.js, but based on the docs I would assume this should work:

[code]
But instead it reports:
[code]
I also tried:

[code]
I am hoping to have it catch connection refused (no server responding) and wait to retry... but it just errors out.  My guess is I'm still missing somewhat on getting the syntax lined up.

This is on node.js v10.4.1, with no ba

[2018-07-26 14:05] zsolt-racz commented on #6
Would be also go to have the option to turn delaying off completely.

[2018-07-26 14:06] zsolt-racz commented on #6
Moreover, the current way of assigning default value for this option discards _zero_ values:
https://github.com/JustinBeckwith/retry-axios/blob/master/src/index.ts#L88

[2018-07-31 21:51] luke3butler commented on #1
I debugged this issue and found the root of the problem in the Axios package.

The issue only happens on retry, and the reason is because of a configuration merge function that doesn't have deep-copy capability.

Offending line here: https://github.com/axios/axios/blob/ad1195f0702381a77b4f2863aad6ddb1002ffd51/lib/core/Axios.js#L35

It appears that this merge function has entirely changed (with dee

[2018-08-13 09:35] cherouvim commented on #4
Confirming this bug.

- original call: /cms/en/api/page/about returns 503 (Service Unavailable)
- axios retries to: /cms/en/cms/en/api/page/about

[2018-08-28 05:44] riksnelders commented on #4
This fixed yet? :)?

[2018-08-29 15:23] jordanfloyd commented on #1
also had this issue. An effective workaround for the moment is to pass a custom shouldRetry function and check the type of `config.httpMethodsToRetry` and get the values into something useful before checking. Not ideal, but relatively easy to fix until a new version of axios is released which resolves the issue.

[2018-10-05 01:05] dhulke commented on #12
I'm having the same issue. Any ideas?

[2018-10-30 14:54] Sebs030 opened #15 "How to use in React Component?"
How can I use retry-axios in a React Component. If i follow the guideline by
`
import axios from 'axios';
import { rax } from 'retry-axios';
const interceptorId = rax.attach();
`
I get an error

at the line where I define `const interceptorId = rax.attach();`
Did anyone get it working in React?

[2018-10-30 22:36] Samuel-Montoya commented on #15
I'm not sure if you tried this already.. But maybe if you changed
`import { rax } from 'retry-axios'`
to
`import rax from 'retry-axios'`
without destructuring.

Hopefully this helps!

[2018-11-01 15:59] Sebs030 commented on #15
Ok it works only with `const rax = require('retry-axios');`. Sorry didn´t think of it in React, as I am used to `import`. So topic can be considered as closed

[2018-12-11 13:40] klaky commented on #4
Have same issue

[2019-01-09 21:07] bradtaniguchi opened #24 "Update README docs to prevent overriding Axio's defaults"
Hi all, I'm rather new to using axios and needed a way to perform some retries when requests failed. I was going through the README docs and got up and running real quick, but then I hit a brick wall, and found retry-axios not working what so ever. After figuring out my mistake I wanted to point out where I "went wrong", either to help others who ran into similar issues, or to possibly improve the

[2019-01-17 10:03] yarinb commented on #24
I bumped into the same issue actually. Thanks for writing this down 👍

[2019-01-17 12:23] beregovoy68 commented on #15
You can also use it with `import`:
[code]

[2019-01-19 08:10] shiyouping opened #25 "statusCodesToRetry doesn't work when Http Status Code is 2xx"
When specify statusCodesToRetry as 2xx, this doesn't work because of the following code:

[code]

onError will be only triggered when the Http Status Code is not 2xx. That means all retries this library will perform only works when Http Status Code is not 2xx.

[2019-01-22 01:03] JustinBeckwith opened #28 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-01-22 01:12] #28 closed

[2019-01-25 14:13] ivoiv opened #31 "Won't retry more than once"
EDIT: I swapped retry-axios for axios-retry @ https://github.com/softonic/axios-retry , using the same logical flow and it works fine with proper repeats. What's so different about retry-axios' implementation?

Hello.

I've been trying to get this wonderful interceptor all day but I just can't get it to work with my React app.

I have the following code.

[code]

Basically another apiCall.js file

[2019-01-31 09:39] ShanikaEdiriweera opened #32 "Error when a method called inside the axios interceptor throws a custom error"
Error `cannot read property 'raxConfig' of undefined` is occurring when a method called inside the axios interceptor throws a custom error.

**Example:**
**Interceptor:**
[code]
**Method (`auth.getToken()`):**
[code]
This error is happenning because custom error does not have a `config` object. Then the `onError` method of the `retry-axios` try to access `error.config,raxConfig`

**A possible fix

[2019-02-07 03:30] mpyw commented on #1
https://github.com/axios/axios/blob/4f98acc57860721c639f94f5772138b2af273301/lib/core/Axios.js#L37

https://github.com/axios/axios/blob/4f98acc57860721c639f94f5772138b2af273301/lib/core/mergeConfig.js#L13-L51

[2019-02-11 09:05] f1cognite opened #37 "Transpile to ES5"
I want to use this package but it contains non-es5 keywords (`const`) in the output file.

[2019-02-11 09:21] JustinBeckwith commented on #37
Greetings!  What type of environment are you trying to support?  `const` is supported by any reasonably modern version of node or the browser:
- https://caniuse.com/#search=const
- https://node.green/#ES2015-bindings-const-basic-support

[2019-02-11 09:26] valerii-cognite commented on #37
Hi @JustinBeckwith Please correct me if I'm wrong, but I believe an explanation can be found here https://facebook.github.io/create-react-app/docs/troubleshooting#npm-run-build-fails-to-minify. So all the applications which are build on top older create-react-app version on any similar environment will fail to build without library being transpiled into es5

[2019-02-11 11:26] f1cognite commented on #37
@JustinBeckwith Anything that is blocking the merge of this PR #38 ?

[2019-02-14 12:25] gpetrioli commented on #1
@opyate The same problem exists with the `httpMethodsToRetry` config property.
Could you please patch that as well, since it is the same problem ?

[2019-02-15 09:18] georgyfarniev commented on #1
Having this problem as well

[2019-02-15 09:23] mpyw commented on #1
@georgyfarniev I abondoned `retry-axios` and wrap `axios` by myself. Currently this library is completely broken.

[2019-02-15 09:29] mpyw commented on #1
I also propose that peer dependency be correctly defined.

[code]

[2019-02-15 16:38] JustinBeckwith commented on #1
Greetings! When you say the latest version - what specific version are you using?

[2019-02-15 16:48] JustinBeckwith commented on #37
I'm a little concerned about down-leveling compilation that far, as it does come at a perf cost - especially as we're getting closer to things like broad support for native async/await and such.

Reading that link you shared - it feels like the answer is to upgrade to a recent version of `react-scripts`, no?  Just want to make sure we're making a change like this for the right reasons :)

[2019-02-15 16:58] mpyw commented on #1
@JustinBeckwith

`v0.19.0-beta.1`. Please see [my comment](https://github.com/JustinBeckwith/retry-axios/issues/1#issuecomment-461276410).
Now options are completely whitelisted and it doesn't accept `raxConfig`.

[2019-02-15 22:37] opyate commented on #1
@mpyw shall we create separate issues for the peer dependency and whitelisting stuff?

[2019-02-19 10:09] f1cognite commented on #37
Yes, I see your point @JustinBeckwith. Another solution is to create two different builds (es6 and es5).

We ended up downgrading to `retry-axios@0.3.2` which was in ES5.
So I think we can close the issue and PR?

[2019-02-19 17:21] #37 closed

[2019-02-22 11:24] erzzo commented on #31
same here

[2019-02-22 11:55] erzzo commented on #31
Okay, my problem was that in the config, httpMethodsToRetry didn't include the POST method by default.

[2019-02-25 19:48] JustinBeckwith commented on #24
:tada: This issue has been resolved in version 0.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v0.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-04 12:48] pdf13 commented on #31
I have the same problem and change to softonic/axios-retry to make it work.
=(

[2019-03-20 21:44] vitaly87 opened #41 "how to do retry even if for respone status 200"
hi, I am trying to use retry even if status code of 200, I want to check response body and if it pass custom if then resolve if not to retry again,  any examples how to do this?

[2019-04-04 10:31] Spyna commented on #4
Facing the same issue, and is not related to `retry-axios` but to `axios`.
If you look at [`dispatchRequest.js`](https://github.com/axios/axios/blob/master/lib/core/dispatchRequest.js) in the axios source code you'll see near line 25.
[code]

If you don't use an absolute URL as `baseURL`, the `config.url` will be always combined with the `baseURL`.

This means that..
if you do `window.axios.defaul

[2019-04-25 13:09] KayHS commented on #41
@vitaly87 did you find out how to do this?

[2019-04-25 13:11] KayHS commented on #25
@shiyouping did you figure out how to retry when status was 2xx?

[2019-04-25 13:28] shiyouping commented on #25
Yes, but I didnt use this library. I implemented the retry by myself. You can refer to this file https://github.com/shiyouping/rtalpha/blob/master/web/src/kernel/network/request-sender.js

[2019-04-25 14:21] KayHS opened #44 "Cannot read property 'attach' of undefined"
Hello

Im trying to use this library but i get the following error in my catch block

`Cannot read property 'attach' of undefined`

[code]

[2019-04-25 17:34] JustinBeckwith commented on #25
Greetings folks!  I'm a tad confused :) If the API returns a 2xx response, that typically means "it worked".  Can y'all give me an example of a 2xx response that you would retry?

[2019-04-25 17:35] JustinBeckwith commented on #41
This is a dup of #25 🙈

[2019-04-25 17:35] #41 closed

[2019-04-26 08:51] KayHS commented on #25
@JustinBeckwith hey yes there is a usecase i am using an API which is processing some data. I short poll this data to retry until the data is ready.

When the data is not ready i receive a 200 response with an empty []
When the data is ready i receive a 200 response with a non-empty [].

[2019-04-29 11:43] chars1205 commented on #44
I had the same problem.
You can change it as follows
import rax from 'retry-axios'  =>  import { attach, getConfig } from 'retry-axios'

[2019-04-30 09:55] shubhamd commented on #25
@JustinBeckwith, In my case, I am receiving invalid JSON with status code 200, it is an API I don't have control over, so If there is a way to retry based on responseBody, that would be great!

[2019-04-30 09:59] shubhamd commented on #25
One of the ways we can implement this by *not* actually implementing this is -
In `axios-retry`, we start catching the errors thrown by custom interceptors (request/response) of `axios`. In this way people can write their own custom interceptors and validate the data the way they want. @JustinBeckwith, Thoughts?

[2019-05-01 17:26] ukcrpb6 commented on #31
Had a similar issue, this was due to the use of axios defaults which is copied by reference, *not cloned* to each request. This meant the number of current retries stored in the config by the request error handler is global, leading to effectively 1 set of retries.

This can be fixed using a request interceptor to set the config instead such as the following (typescript):

[code]

usage:

[code]

[2019-05-09 11:09] KayHS opened #48 "500 not being retried, instead getting caught in try catch"
Hi,

I am using this library to retry 500 requests, but it is not being retried because when the request is wrapped in a try catch block, the 500 response is returned in the catch.

How are you handling this?

[2019-05-09 11:25] #48 closed

[2019-05-09 11:28] KayHS opened #49 "TypeError: Cannot read property 'raxConfig' of undefined"
Hey i am recieving this error im not sure why.

[code]
[code]

[2019-05-10 13:52] #49 closed

[2019-05-10 13:53] KayHS commented on #44
thank you you solved my problem.

[2019-05-10 13:53] #44 closed

[2019-05-10 13:54] KayHS opened #50 "Property 'raxConfig' does not exist on type 'AxiosRequestConfig'.ts"
Hi,

I get the following error

[code]

[2019-05-22 16:12] avindra commented on #4
I agree that this is more of an Axios issue. How do they manage to gaff URLS this badly? This is why I always recommend my teams to use basic functionality like `fetch`.

[2019-05-22 17:53] avindra commented on #1
Do you guys know of a drop in (or as close to drop in as possible) replacement for axios?

This library is on the critical path for a lot of our apps, and problems like these cause serious issues and slow down development.

[2019-05-22 18:00] JustinBeckwith commented on #1
I wrote https://github.com/googleapis/gaxios/ to be that drop in replacement based on node-fetch 🙃 It's part of the reason I don't spend a ton of time in this particular module. It has retries baked in.

[2019-05-29 17:36] JustinBeckwith opened #52 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-05-30 18:10] JustinBeckwith commented on #52
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-01 00:56] JustinBeckwith commented on #52
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-02 19:22] avindra commented on #4
@riksnelders , others: I noticed in the [code posted in the OP](https://github.com/JustinBeckwith/retry-axios/issues/4#issue-311509169) has a relative URL, not an absolute URL.

Axios is making a lot of assumptions in their code that the URL MUST be absolute. An easy fix may be to set it to `location.origin + '/v1/your/api/base/here'`.

After making this change in our app, I noticed this bug went

[2019-06-02 19:31] riksnelders commented on #4
Thanks @avindra for the clarification

[2019-06-20 13:22] vitaly87 opened #59 "Cannot read property 'raxConfig' undefined"
`  const rax = require('retry-axios');
  const
      axios
   = require('axios');`

[code]

ERROR :

stack:"TypeError: Cannot read property 'raxConfig' of undefined\n
odeceptjs\node_modules\retry-axios\build\src\index.js:29:31)\n    at process._tickCallback (internal/process/next_tick.js:68:7)"

[2019-06-21 13:04] vitaly87 commented on #49
How did you fix this?

[2019-06-27 10:56] denizaydemir opened #60 "Custom HttpsAgent gets corrupted after retry"
Using a custom HttpsAgent to make requests over proxy. Whenever a request fails, rax tries to retry the request but following error occurs.

The "options.agent" property must be one of type Agent-like Object, undefined, or false. Received type object
TypeError [ERR_INVALID_ARG_TYPE]: The "options.agent" property must be one of type Agent-like Object, undefined, or false. Received type object
    a

[2019-06-27 13:10] denizaydemir commented on #60
Struggling with this issue for 2 days, finally came up with a solution. Instead of creating a custom agent in axios instance, I have modified the proxy object in axios/lib/adapters/http.js like following:
`if (proxy) {
          var proxyOpt = 'https://' + proxy.auth.username + ':' + proxy.auth.password + '@' + proxy.host + ':' + proxy.port
          options.agent = isHttps ? (new HttpsProxyAgent(

[2019-06-27 19:55] denizaydemir opened #61 "currentRetryAttempt is not unique by request"
Same currentRetryAttempt value is shared by all the request made by an axios instance. This leads to unreliable retry attempts when working with mass parallel requests.

[2019-07-04 11:51] konstantinblaesi commented on #59
why are you not calling `rax.attach();`?

[2019-07-05 02:21] brandoncc commented on #31
I had a similar problem I was getting an error that `httpMethodsToRetry.indexOf` wasn't a function. That was only after it had already retried once. It seems it was clobbering my config somehow. I was setting every option in `instance.defaults.raxConfig`, even if it just got set to the default (to show what options we could change). `axios-retry` works fine for me too. I prefer the options API of

[2019-07-09 19:00] xnog opened #62 "it's not working with axios v.19.0"
it's not working with axios v.19.0

[2019-07-17 13:14] dennisreimann commented on #62
Yes, the reason for that is – as @adntin [points out here](https://github.com/axios/axios/issues/164#issuecomment-508367282) – that Axios 0.19 filters out custom properties.

[2019-07-17 13:19] JustinBeckwith commented on #62
Yeah - sadly I doubt I'm going to be updating this library to support the latest version 😢 We just don't use this at my company anymore, so I don't have a ton of time to keep it up to date.  If others are interested ...  I'd happily accept PRs!

[2019-07-17 13:55] dennisreimann commented on #62
fyi: We just fixed this by using the same meachanism, but using a custom header field instead of the custom config property.

[2019-08-12 15:33] avindra commented on #62
This is kind of janky but you can patch axios 0.19 directly in node_modules to permit `raxConfig` as a valid key.

Patch:

[code]

then in your package.json:

[code]

[2019-08-19 11:11] Kerdanyy opened #63 "Retry method not working when using two axios requests"
When using two axios requests, the retry method works in the 1st request but doesn't work in 2nd request which is made after the 1st request. When calling the 2nd request an error is thrown and retry is not triggered.

Output: UnhandledPromiseRejectionWarning: Error: Request failed with status code 404

Exmaple:

` rax.attach();

  **const res = await axios**({

 url: 'https://postman-echo.com',

[2019-08-19 11:16] #63 closed

[2019-08-23 00:04] TCMiranda opened #64 "Suggestion (typescript): update types on AxiosRequestConfig"
Something like this would help to avoid errors when trying to add options to axios instances options.

[code]

Today if we install the library using the example given in the readme it fails to compile ts.
[code]

[2019-08-27 09:52] kaykhan commented on #64
I'm having the same problem right now, where do you add this?

[2019-08-27 11:30] KayHS commented on #62
@dennisreimann Hi please can you demonstrate how you managed to fix this?

[2019-08-27 11:39] KayHS commented on #64
How did you fix the issue where custom configs are being filtered out. https://github.com/JustinBeckwith/retry-axios/issues/62

I have a axios request config like this

[code]

[2019-08-27 12:14] dennisreimann commented on #62
@KayHS see [this comment](https://github.com/axios/axios/issues/164#issuecomment-524756674).

Whereas before you have assigned the property directly to the config (i.e. `config.retryCount`) you now need to use a custom header for that (i.e. `headers.common['retryCount']`).

[2019-08-27 12:22] KayHS commented on #62
@dennisreimann

hnn, my setup is like the following

[code]
so headers.common['raxConfig'] = retryConfig?

[2019-08-27 12:27] dennisreimann commented on #62
Or something like this:

[code]

It does not really matter, as long as you write to the same header property you also read from.

[2019-09-25 09:15] Vanluren commented on #15
An example usage of the `import` syntax would great in the documentation. I could file a PR with the changes, if you would like?

[2019-09-29 03:42] CatcherRao opened #68 "I set retry 3 times，but only retry 1 times"
[code]

[2019-10-15 02:20] troykelly commented on #59
This is fixed with https://github.com/JustinBeckwith/retry-axios/pull/70
But I can't create a PR because it says the commit message is empty - it is not.

[2019-11-22 00:21] findmory commented on #62
or you can use the master version on git `npm install axios/axios#master` . I've confirmed that they fixed the issue with custom params there just haven't pushed it to npm

[2019-11-24 15:05] ScottChapman commented on #61
I think this is leading to the other issue I've discovered; the retry count doesn't reset after success? I've been testing with a mocked server which is generating ratelimits for different intervals. I can see the requests happen, then it succeeds. But the next request that happens it appears that the retry counter did not get reset...

[2019-11-25 20:39] #6 closed

[2019-12-04 15:31] tehaksbrid commented on #68
Is the axios instance being shared? I ran into a similar issue and found that the retry counter is shared between multiple uses of a single instance.

[2020-01-03 16:57] fabrusso commented on #62
Tried it and It's working, also with other NPM libraries for retries.

Thanks a lot.

[2020-01-10 08:39] DanielRuf commented on #63
How did you solve that?

[2020-01-11 16:37] DanielRuf commented on #62
You can apply the patch using `patch-package`.

[2020-01-11 16:43] DanielRuf commented on #62
It is still broken in 0.19.1 with the default config.

[2020-01-11 18:31] #59 closed

[2020-01-11 18:35] JustinBeckwith commented on #59
:tada: This issue has been resolved in version 1.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios/v/1.0.2)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v1.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-11 18:36] #52 closed

[2020-01-11 19:06] #1 closed

[2020-01-11 19:08] JustinBeckwith commented on #1
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios/v/2.0.1)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-11 19:10] JustinBeckwith commented on #68
Greetings!  Can you share a complete code example that does this?  We have tests specifically covering number of retries, so an isolated example of how to break it would be *super* helpful.

[2020-01-11 20:12] JustinBeckwith commented on #31
@brandoncc I'm pretty sure we addressed the `indexOf` problem in #83, which should be in the latest release :)

[2020-01-11 23:53] tehaksbrid commented on #68
@JustinBeckwith was that WRT my comment?
I assumed #61 was well-known. Wanted to confirm before I spent time making a clear example.

Also, thank you for the awesome tool. I use it in every lambda project.

[2020-01-15 22:32] JustinBeckwith commented on #12
This was a silly mistake in the docs.  It should be:

[code]

NOT
[code]

Sorry for the trouble folks 🤦‍♂

[2020-01-15 22:32] #12 closed

[2020-01-15 22:36] JustinBeckwith commented on #62
@DanielRuf it looks like `0.19.1` went out, and _should_ include the fix.  I am a little confused because my tests currently use `0.19.1`, and everything appears to be passing.  Could I trouble someone for a simple repro that shows this?

[2020-01-16 03:49] JustinBeckwith commented on #50
Can confirm.  This is due to the original types from Axios not really being extensible.  To get around it, you can do something like this:

[code]

Let's track something better over in #64 :)

[2020-01-16 03:49] #50 closed

[2020-01-16 03:56] #64 closed

[2020-01-16 03:58] JustinBeckwith commented on #12
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios/v/2.1.1)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-16 03:58] JustinBeckwith commented on #64
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios/v/2.1.1)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-16 03:59] JustinBeckwith commented on #32
Greetings!  I *think* this could have been fixed in a recent release.  Could I trouble you to give this another shot?

[2020-01-16 05:07] DanielRuf commented on #62
In our project it didn't work with the custom options. Headers might work but I chose the normal solution from the docs.

[2020-01-16 05:13] DanielRuf commented on #62
https://github.com/axios/axios/compare/v0.19.0...v0.19.1

[2020-01-16 05:55] DanielRuf commented on #62
https://github.com/axios/axios/commit/a11cdf468303a365a6dc6e84f6dd0e4b3b8fd336

[2020-01-16 07:49] DanielRuf commented on #62
Seems to be fixed in 0.19.1 but we'll still apply the patch to ensure that it will work.

[2020-01-19 06:57] #31 closed

[2020-01-19 06:59] JustinBeckwith commented on #60
Good to hear you were able to find a solution!

[2020-01-19 06:59] #60 closed

[2020-01-19 07:00] JustinBeckwith commented on #62
Awesome.  Seems like it's working, so I'm closing this out :)

[2020-01-19 07:00] #62 closed

[2020-01-19 20:51] #32 closed

[2020-01-19 21:07] JustinBeckwith commented on #25
So to be honest - this is far enough outside the goal of the library, that I don't want to add support for managing retries on 2xx responses.  The interceptor API in axios is good enough that you should be able to plug in there, and lift whatever bits of backoff stuff you need from here.  Apologies!

[2020-01-19 21:07] #25 closed

[2020-01-19 21:09] JustinBeckwith commented on #4
Thanks folks.  Given that this is a bug with `axios` itself, I am going to close this out.  Let me know if there's anything I can specifically do!

[2020-01-19 21:09] #4 closed

[2020-01-19 21:11] JustinBeckwith commented on #61
Greetings folks!  I am having a little trouble pinning this one down.  Does someone have a small piece of code I can use to reproduce the problem?

[2020-01-20 23:12] Atomic71 commented on #61
Hello sir, first of all, thanks for this great tool. I've created a repository which you can just clone and run 'yarn test' in order to start dealing with the problem. Hope it helps!

https://github.com/tomic-dvica-golf/retry-axios-demo/tree/master

[2020-01-20 23:41] tomic-dvica-golf commented on #68
Hello @JustinBeckwith, thanks for the library.

Here is a reproducible demo for you: https://github.com/tomic-dvica-golf/retry-axios-demo/tree/master

just run yarn test.
hope you find it useful!

[2020-01-30 13:20] anjayluh opened #89 "I set retryDelay to 10000 but it still works with the default time"
this.$emataRequest.defaults.raxConfig = {
                retry: 5,
                retryDelay: 10000,
                statusCodesToRetry: [
                    [100, 199],
                    [400, 429],
                    [500, 599]
                ],
}
All other settings are perfoming as expected except retryDelay

[2020-01-30 14:08] anjayluh commented on #89
#Found a fix for this. I added backoffType: 'static'

[2020-01-30 14:09] #89 closed

[2020-01-31 00:18] mkiddTempus opened #90 "Unable to override raxConfig using axios 0.19.0 and retry-axios 2.1.1"
I created the following gist to demonstrate the inability to override the config beyond the defaults. Executing this script fails on first attempt and no retry is executed. Using default settings, as shown in method 1, I've seen the 3 retry attempts in the config but this gist does not have that working. Execution methods are in comments at the bottom of the file.

https://gist.github.com/mkiddTem

[2020-02-02 17:32] JustinBeckwith commented on #90
I can verify this is a legit bug.  Looking into it!

[2020-02-02 20:08] JustinBeckwith commented on #90
Ok - update - I added a test specifically for this scenario in https://github.com/JustinBeckwith/retry-axios/pull/91, and can verify it does in fact fail.  Thank you for the great reproduction steps!

The bad news is that I have no idea how to fix it.  As of today, there is no way to pin `raxConfig` on a `defaults` object in the way you're trying to do it.  You would have to include the raxConfig

[2020-02-02 23:33] broom9 opened #92 "Include an `isFinalRetry` property"
When chain this interceptor with another global interceptor that displays an error message, it would be helpful to easily know if this request is the final retry of rax.

Currently, the logic to determine if the current retry is the final one is kind of complicated because of `retries` and `noResponseRetries`

[2020-02-05 19:12] iDVB opened #93 "Doesn't seem to work with IMPORT rax"
**Does NOT work**
[code]

**WORKS**
[code]

Is something up with the way this was packaged that would prevent it from being imported when working with webpack+babel?

[2020-02-05 19:13] JustinBeckwith commented on #93
Greetings! You need to use `import * as rax from 'retry-axios'` :)

[2020-02-05 19:13] #93 closed

[2020-02-06 18:56] DaveStein opened #94 "Question: How do I use this with existing error interceptors?"
This library looks like exactly what I need. I am trying it out with code like this:

[code]

`interceptors.response.error` is where I build up custom error for logging, which includes the request & response details. At the top I threw this in:

[code]

When I purposefully error via gibberish URL the console.logs output this:

[code]

How should I ensure that my logic only runs after final attempt

[2020-02-06 18:59] DaveStein commented on #94
PS: If it's not clear, the second call to my generic handler does not receive the configuration object for axios so I can't get the details for my logs. The first does. I only want to log the second.

[2020-02-10 02:42] JustinBeckwith commented on #92
Great idea! If we were to do this, I think I'd do something like a `retriesRemaining` property.

[2020-02-10 03:16] broom9 commented on #92
Cool. I currently copied the whole `shouldRetryRequest` method out to check if a request is the last retry. If we can simply expose the value of it, it should work, too.

[2020-02-10 20:49] DaveStein commented on #94
@JustinBeckwith is this something you can answer or do you think this is more of a Stack Overflow Question? I'm kind of wondering if there's a feature request in here for like "callback for final error" such that you get it after failed number of retries or the failure case for requests that don't get retries.

[2020-02-12 15:37] broom9 opened #95 "Cannot set property 'raxConfig' of undefined"
The line below in the function `onError` sometimes throws error "Cannot set property 'raxConfig' of undefined"

It happened when an axios call encountered a 401 error.

[code]

Looks like the `err.config` could be `undefined`.

[2020-02-12 15:58] JustinBeckwith commented on #95
Could you share what version of `retry-axios` you're running?  I think I fixed this bug :)

[2020-02-12 16:05] broom9 commented on #95
Sorry should have shared it in the first post.

I'm running retry-axios 2.1.1, axios 0.19.2. Both should be the latest versions.

[2020-02-14 11:33] artur-ma commented on #95
It may happen when:
 1. You have another interceptor that throw  exception (in this case the error will not have config property)
2. One of your interceptors does not return the config object back

[2020-02-14 16:07] broom9 commented on #95
We have another error-handling response interceptor, which I think works after rax interceptor.

The error-handling response interceptor does `return Promise.reject(error);` on errors. It seems to be the standard way Axios doc suggests.

[2020-02-14 16:15] artur-ma commented on #95
@broom9 this interceptor works on response, but u have an error on request, so if there is some code e.g

[code]

Exception will be raised that variable `num` is not defined, but u will see another message in the logs,
"Cannot set property 'raxConfig' of undefined", since rax interceptor tries to access "config" object on the exception(that does not exist)

Happened to me yesterday... luckily I fo

[2020-02-14 19:30] broom9 commented on #95
@artur-ma thanks for the info. I searched through our codes but didn't find any request interceptor. We only added a response interceptor. It works basically like axios doc specifies:
[code]
I think when 401 error happens, it goes into the response interceptor's error callback.

[2020-02-15 09:18] artur-ma commented on #95
Test it using: https://httpstat.us/401

[2020-02-24 10:58] yoshigev commented on #61
Hi @JustinBeckwith ,
I've also encountered this problem.
I think it can be described by the following test (can be incorporated into test/index.ts tests):
[code]
This test fails, as `currentRetryAttempt` equals 2 after the first call to `axios()`, so the second call to `axios()` has no more retries left.

The expected behavior is having a separate `currentRetryAttempt` counter for each call to `ax

[2020-02-25 10:52] yoshigev commented on #61
A better workaround is to only shallow-copy the raxConfig object. It can be done by storing axiosConfig and raxConfig on separate objects, and for each call to axios() copy it like:

[code]

In any case, I've submitted a PR that does something similar, but inside rax code.

[2020-02-25 11:03] denizaydemir commented on #61
Nice approach @yoshigev thx. This gets rid of unnecessary manual request counting and resetting.

[2020-03-02 21:54] DaveStein commented on #94
@JustinBeckwith any suggestion here? 🙏

[2020-03-02 22:44] JustinBeckwith commented on #94
Greetings!  Not something I've had time to look into, apologies.

[2020-03-12 02:27] ntsim commented on #90
Might I suggest just not hanging `raxConfig` from the Axios's configuration at all?

From my own fork of this from a little while back, it's entirely possible to write the API using closures to avoid needing it at all:

[code]

One of the main things that I do differently is store the number of retry attempts on a header instead of on `raxConfig`. By default I called it something like `X-Retry`.

[2020-03-16 09:49] yoshigev commented on #61
@JustinBeckwith, can you take a look on my PR?

[2020-03-16 15:12] #61 closed

[2020-03-16 15:14] JustinBeckwith commented on #61
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios/v/2.1.2)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-16 15:14] JustinBeckwith commented on #15
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/retry-axios/v/2.1.2)
- [GitHub release](https://github.com/JustinBeckwith/retry-axios/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-23 09:47] yoshigev commented on #68
Note that #61 was fixed, so this issue is probably also fixed.

[2020-03-23 13:54] JustinBeckwith commented on #68
Sweet.  Could I trouble anyone to try it and take a look?

[2020-03-31 08:40] morevolk-latei commented on #68
Hi @JustinBeckwith, I ran into the same issue where I have specified both **retry count** and **noResponseRetries** to 3.

I have debugged the _**"retry-axios"**_ code and turns out that during the first initial request raxConfig received the correct value of **httpMethodsToRetry & statusCodesToRetry** i.e **Array**  which I have passed from my code as config.

But when an error occurred for first

[2020-03-31 09:14] seahindeniz commented on #68
@JustinBeckwith I have setup a small environment on Repl.it to test it. Here https://repl.it/@seahindeniz/RaxRetryingIssue

[2020-04-02 20:44] harrydema opened #100 "ECONNRESET does not retry"
I get this error: "Error: socket hang up" and the is not retiring as there is no HTTP response.

[2020-04-03 14:40] #100 closed

[2020-04-03 14:41] harrydema opened #101 "I am not being able to replace the default config values"
Although I set the retry number to 2, the raxConfig shows that the retry keeps at 3.

![image](https://user-images.githubusercontent.com/13423169/78372745-0bb74a00-75a0-11ea-94ec-35e3d9110b0f.png)

[2020-04-03 14:42] harrydema commented on #90
Any news? It is useless this library if you can not configure it

[2020-04-03 14:46] mkiddTempus commented on #90
@harrydema I would suggest writing an interceptor yourself to accomplish the retry that responds to passed in options. From the looks of things axios is going to remain an opinionated library.

[2020-04-20 19:31] Arjunalapsapkota opened #104 "Retries issues"
By default , retry count is set to 3. But It's only trying two times.  Doesn't have any effect if I define it to be 3, 4 or 5. It only tries 2 times. Please fix this issue. Thanks

[2020-04-26 20:42] ericalderman-emilio opened #105 "[question] Is it possible to use this library via CDN?"
I want to use this library in client-side (browser) JS but from a hosted platform where I can't store my own files.  I'm loading axios from Cloudflare CDN using LazyLoad and it works fine, but I tried also loading retry-axios that way and got an immediate error as it was referring to axios by pathname.  Is it possible to do what I'm trying to do?

[2020-05-04 09:52] AndyOGo opened #106 "IE throws SCRIPT1002: Syntax error"
First, really neat interceptor with a great API.

**IS:**

IE11 throws:

All arrow functions aren't transpiled, see:
https://unpkg.com/retry-axios@2.1.2/build/src/index.js

![retry-axios-ie-syntaxt-error](https://user-images.githubusercontent.com/914443/80954460-b4560500-8dfd-11ea-904c-a8c53f95538d.PNG)

**EXPECTED:**

I expect to import an **ES Module** and bundle it with Webpack/Rollup/Parcel wi

[2020-05-04 14:26] AndyOGo commented on #106
Alright, I tried to whitelist `retry-axios` for babel transpilation.

But IE still ends up throwing errors:

[2020-05-05 12:58] AndyOGo opened #108 "Package version 0.0.0 out of sync with NPM"
https://github.com/JustinBeckwith/retry-axios/blob/fc8117e838c4e6764969e844707354bb8f85816d/package.json#L3

https://www.npmjs.com/package/retry-axios/v/latest

[2020-05-05 14:42] JustinBeckwith commented on #108
Greetings!  The package version is set automatically as the package is released :)  Let me know if you're running into any problems!

[2020-05-05 14:42] #108 closed

[2020-05-05 14:55] AndyOGo commented on #108
Hey man,
Thank you for your quick feedback.

Yeah the `version` field is correct on NPM.
Though it's not committed within the repo's `package.json`.
Guess, it's like that on purpose?

[2020-05-05 16:13] JustinBeckwith commented on #108
Yes, that is on purpose :) There is a robot that is responsible for orchestrating my releases via semantic-release.  It sets the version as part of the release process, so the version in package.json never actually gets updated.  I set it to 0 to signal to folks "you probably don't wanna touch that" 😆

[2020-05-05 16:38] AndyOGo commented on #108
I see, semantic-release is awesome

[2020-05-18 16:55] #106 closed

[2020-06-02 21:54] DaveStein commented on #94
@JustinBeckwith I realize attach is just doing `return instance.interceptors.response.use(onFulfilled, onError);`

If you exported `onError`, that would imply I can just use your same logic in my existing interceptor, and on rejection of `onError` (which I believe happens when the last retry fails), I can grab the error and do what I would usually do.

What do you think of that strategy?

[2020-06-17 14:08] khitrenovich commented on #68
According to the printouts from @morevolk-latei, the keys in the object form are now strings instead of integers.

If so, the fix can be pretty simple - just replace
[code]
with
[code]

[2020-06-17 14:26] khitrenovich commented on #104
Possible duplicate of #68

[2020-06-17 16:33] #95 closed

[2020-06-19 22:40] sk- opened #116 "Feature Request: support Retry-After header"
is there any change to add support for the `Retry-After` header (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After).

This is specially useful to deal with quota exceeded errors (429).

Probably an upper bound should be added, so that one doesn't wait forever. In that way is the service is going to be down for a while (503) or if you have no quota left, then the request would f

[2020-06-27 17:56] code-abil opened #117 "shouldRetry and retry together are not working fine."
Independently both "shouldRetry"and "retry" work fine.
When put together, "retry" loses it significance.

`
raxConfig: {

        retry: 5,

        shouldRetry: (err) => {
              if(condition)  return true;
              else return false;
        },

        onRetryAttempt: (err) => {
          return true;
        },
      },
`

For the above raxConfig, it doesn't stop after 5 retries. I

[2020-06-30 23:56] quangogster commented on #104
downgrading worked for me.  thanks @khitrenovich !

[2020-07-03 14:28] ScottChapman opened #119 "onRetryAttempt doesn't handle promise rejection"
So, following the example for an async onRetryError, I decide to not retry is `errno === "ENOTFOUND"` (kinda no point, right?)

So, I call my `reject` function. But I always get an `UnhandledPromisRejectionWarning` on those.

So it looks like there is no catch block for those?

[2020-07-17 00:57] bdcarr commented on #90
It looks like `axios` has fixed this in their upcoming v0.20.0 release: https://github.com/axios/axios/issues/2190

[2020-08-19 11:34] moltar commented on #104
Seeing this too. The setting has no effect and only 2 attempts are tried.

[2020-08-19 17:57] sk- opened #121 "Set config instance when calling attach"
The `raxConfig` requires an `instance` field, which if not set will default to the default axios instance, however that's not what one wants when attaching it to a non-default instance.

This is awkward an error prone, as one would need to create the object as follows:

[code]

Instead, I suggest to modify attach to do something like:

[code]

[2020-08-19 17:57] sk- commented on #90
I can confirm it's working with axios `0.20.0-0`. However, you need to make sure you are passing `instance` in the config otherwise it wont' work. See #121

[2020-08-19 17:58] sk- commented on #101
Probably a duplicate of #90

[2020-08-19 18:10] sk- opened #122 "Potential errors when computing exponential backoff and linear backoff"
The code to compute the linear backoff and exponential backoff has some issues, as it does not wait in the first attempt, this is because `currentRetryAttempt` is initially set to 0 instead of 1. See https://github.com/JustinBeckwith/retry-axios/blob/c2843108e7d9758097cd1af89e09cd78c99bcebf/src/index.ts#L183-L188.

It also does not consider the `retryDelay`, which according to the readme:

Additio

[2020-08-24 22:22] sk- commented on #104
@moltar How did you set up the raxConfig? I'm asking because I identified issue #124, in which if you use a custom axios instance, then it won't work unless you also specify the `instance` field.

[2020-08-24 22:30] sk- commented on #122
@JustinBeckwith would you accept PRs addressing this and other issues?.

[2020-09-08 19:06] sk- opened #125 "is project still maintained?"
Hi @JustinBeckwith I wanted to check if this project is still maintained and whether you would be willing to accept contributions.

I see that there are a couple of duplicated issues, dating a long back, and also there are some new issues reported.

[2020-09-08 21:00] JustinBeckwith commented on #125
👋 I mean sorta, not really, kinda.  I don't personally use this library anymore, as I ended up writing an [HTTP client that suited our needs](https://github.com/googleapis/gaxios).   If folks make a PR, and it seems reasonable, I'm happy to work with you to land it and ship.

[2020-09-08 21:21] sk- commented on #125
Thanks for the honest response. Maybe it'd be good to put a notice at the top of the README and add some collaborators.

[2020-10-08 20:40] ChuckJonas opened #129 "How to retry ONLY `noResponseRetries`"
I have a use-case where I only want to retry if it's `ENOTFOUND`, `ETIMEDOUT`, etc.

However, if I config:

[code]

it doesn't attempt to retry on these errors at all.

Is there an easy way to configure it to retry these errors ONLY?

[2020-10-08 20:46] ChuckJonas commented on #129
Looks like you can do this easily by using `shouldRetry`:

[code]

[2020-10-08 20:46] #129 closed

[2020-10-23 19:10] #90 closed

[2020-10-23 19:13] JustinBeckwith commented on #125
Sure thing - always happy to accept contributions :) For now I still manage to keep things relatively up to date, so I'm gonna close this out.  If there are specific issues folks want to help out with, I will happily review PRs!

[2020-10-23 19:13] #125 closed

[2020-10-23 19:15] sk- commented on #125
In case anyone is interested, we ended up building our own interceptor to handle retries.

[2020-10-23 19:28] JustinBeckwith commented on #122
👋  absolutely!  Would love PRs, especially ones that come with tests so I can really understand what was going wrong :)

[2020-10-23 19:39] JustinBeckwith commented on #101
Hey folks - I believe the latest release of axios fixed this issue 🎉  Let me know if you're still running into issues!

[2020-10-23 19:39] #101 closed

[2020-11-17 20:15] reessm01 commented on #121
Yeah, I lost a bit of time figuring out that nuanced detail as I was limited to axios 0.19.2. How active is @JustinBeckwith? I wouldn't mind helping out as I think this library has a great deal of potential.

[2020-11-17 20:29] JustinBeckwith commented on #121
👋  I am on GitHub most days for work, but do not actively do much on this library.  We ended up going a [different direction](https://github.com/googleapis/gaxios/) for our retries & HTTP, so anything I can give here is best effort.  I really love well thought out PRs though, and I'd be happy to add maintainers if that makes sense.

[2020-11-20 15:38] reessm01 commented on #121
I've got a feature branch ready whenever you get a chance if you want to add me as a maintainer. Beyond unit testing I'll try out the build in a project I am working on to see if its compatible with axios ~0.19.0.

[2020-12-04 08:17] some-user123 opened #133 "Does not retry on timeout"
I'm using retry-axios succesfully to retry on server-side errors like 5xx responses.
However, I'm also experiencing sporadically timeouts on the server-side. In this cases, there is no retry attempt.

I would consider timeouts a service-side error as well. Shouldn't there be a retry attempt?

[2020-12-04 11:27] Grundlefleck commented on #133
I had a similar issue and found that I needed to pass e.g. `{ timeout: 3_000 }` to Axios itself, and combine that with the `noResponseRetries: 3` options of this retry-axios library.

HTH

[2020-12-16 10:56] jgehrcke commented on #122
@JustinBeckwith

about

It's this:

Between the first attempt (attempt 0) and the first retry (attempt 1) there should be a non-zero delay. With the current code there isn't. That's _one_ of two problems that @sk- was pointing out :).

[2020-12-16 17:23] JustinBeckwith commented on #122
👋 Saying "have you read this" is kind of being a turd - please don't be a turd.  There were some changes here recently which may have resolved the issue.  If folks are interested, I'd be happy to take a PR (as mentioned above), but I'm unlikely to dig in here soon.

[2020-12-16 19:15] jgehrcke commented on #122
I am sorry man, really didn't want to come across like that.

My addition to this ticket was meant in a neutral-friendly way, therefore also the ":)". It certainly was meant to be a _productive_ contribution: it really appeared to me (based on the communication in here so far) as if you might have missed a specific problem description -- the one I have quoted.

Missing something happens to all of

[2020-12-16 21:22] JustinBeckwith commented on #122
Loud and clear.  Sorry if I was crass - I catch a lot of flack in issue trackers, and appreciate the clarification!  I completely understand what you mean now, and apologize for being short.

On the issue itself - totally understand what folks are saying.  What I was trying to get across is that I don't believe there are tests which dig into the specific timing of the retries.  I'd like to avoid h

[2020-12-17 11:23] jgehrcke commented on #122
Thank you for the kind words, Justin!  Thanks for being vulnerable. I totally see where you're coming from with "I catch a lot of flack in issue trackers" -- and I am glad that we figured this out w/o feeling bad after all. Feels good that we talked through that; thanks for taking a moment to type up this response. I love open source also because of interactions like this.

[2020-12-18 01:38] MaximilianLloyd opened #135 "How to run a callback when retry is completed"
I need to show an error icon in between the request retries. Is there any way to do this?

[2020-12-18 19:24] JustinBeckwith commented on #135
Sure - check out `onRetryAttempt` in the [README](https://github.com/JustinBeckwith/retry-axios#usage)!

[2020-12-18 19:24] #135 closed

[2021-01-18 08:52] adrys-lab opened #138 "Axios Timeout behaviour"
We did not find any information about how the timeout acts when retry behaviour comes up.

given

[code]

is the timeout of 12sec apply for all the 5 retries ? so 12 sec for performing 5 possible requests ?
or for each retry, the timeout is reset to 12sec ? being possibly 12sec * 5 attempts ?

can you please introduce this documentation in the main README ?

[2021-01-18 12:31] anmol098 commented on #138
@adrys-lab
Use
backoff : 'static'
This will give static delay between retry.
For the snippet you pasted.
It will retry after 500ms

[2021-01-18 15:26] adrys-lab commented on #138
@anmol098 thanks for the backoff topic,

but i was talking about the general HTTP Timeout request when the server-side takes more than 12000 to respond.

My question is, if its a timeout for each retry, or by contrast, for ALL retries together.

[2021-01-19 09:11] adrys-lab commented on #138
Is there a way to make the `axios` timeout NOT BEING RESET to 0 for each retry ?

if we setup 10 seconds of timeout,
we want to interpret it as a global value,
so it is not used for each retry but for the whole request lifecycle.

[2021-01-19 16:37] JustinBeckwith commented on #138
Yeah, there's no way to do that directly through `retry-axios` right now.  The `timeout` is passed directly to Axios, and taken into account for each retry.  You'd need to tune the `retries` variable to match the number you're looking for, otherwise you're going to get your `timeout` and the retry logic fighting with each other.

[2021-01-21 13:08] renovate[bot] opened #139 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:17] #139 closed

[2021-02-13 10:27] patryk-smc commented on #138
Hey everyone,
I think I have a similar problem. I'm dealing with an API that has a tendency to timeout. It retries after first timeout, and if the subsequent request timeouts too - it fails. I set `noResponseRetries` to 3, so I would expect that it would retry three times, not just once. What I'm missing here?

[code]

[2021-02-13 16:18] blakeyp commented on #116
Hey @JustinBeckwith I've made a PR for this feature - #142
Be glad of any thoughts on it :)

[2021-02-19 13:46] Tinadim commented on #104
I was having a similar problem using the following setup:

[code]

Changing the values in raxConfig above was having no effect. When I saw this ticket, I noticed I was using axios 0.19 and updated it to axios 0.21, which solved the problem for me

[2021-02-26 13:01] gvmohzibat commented on #31
@ukcrpb6 Your solution works but then the `currentRetryAttempts` will always be equal to 1 and therefore, it'll retry infinitely. I switched to `axios-retry`.

[2021-03-19 06:33] maksha19 opened #144 "How to test in jest"

[2021-03-19 17:56] JustinBeckwith commented on #144
Greetings!  What you tried? Did you run into specific issues?  I don't use Jest, so this isn't something I'm likely to dig into :)

[2021-03-29 17:06] Naramsim commented on #133
@Grundlefleck Can you provide an example? Using your settings, it didn't trigger a retry.

[2021-03-30 12:09] Grundlefleck commented on #133
@Naramsim
Here's an attempt at an SSCCE:

axios v0.21.1
retry-axios v2.4.0
node v14.2.0
(TypeScript but it shouldn't matter)
[code]
Results in output:

[code]
Without `timeout: 2_000` given to `axios.create()` this example takes a several minutes to timeout, but it still does retry.

I also discovered that the actual retries attempted is essentially `Math.min(raxConfig.retry, raxConfig.noResponseR

[2021-03-30 13:02] Naramsim commented on #133
Thanks @Grundlefleck

In the end, I switched to Got. It has the retry mechanism built-in also for timeouts

[2021-04-02 18:47] danthareja commented on #94
@DaveStein - did you ever find a solution for this?

[2021-04-06 03:40] qqfei1858 opened #145 "Multiple request retry"
My English is not good, sorry, please be patient and finish reading! It seems that retry-axios can only retry one request, but there are multiple real-time requests on the webpage, which cannot meet the needs of the project! Is there a setting or other scheme that can handle multiple requests and retry?

[2021-04-06 04:29] JustinBeckwith commented on #145
Greetings!  It should be able to handle multiple retries, and retries across requests.  Can you share what you've tried?  Maybe share your code, and what you're seeing?

[2021-04-06 09:26] qqfei1858 commented on #145
@JustinBeckwith Hello,below is the code snippet, the test really only has one request to trigger a retry!
[code]

[2021-04-12 11:11] jmurty commented on #138
Please consider adding a feature to restrict retries to the original request timeout. The competing [axios-retry](https://github.com/softonic/axios-retry#options) library has something along these lines under the `shouldResetTimeout` option.

In the meantime, I have implemented something workable but kludgy via a `retriesStopAtTimeout` option with following code, which I'll leave here in case it h

[2021-04-19 14:07] DaveStein commented on #94
@danthareja we made our own interceptor that would instantiate a new instance of axios and go from there.

[2021-05-24 09:11] benjaminelkrieff opened #147 "Retry Axios not retrying request"
Hello

I have the special following use case:

I have a backend endpoint that does web scraping. When the page needs to be called in an asynchronous manner, the endpoint sends a 204 code, and has to be called again in 5 minutes.

On my React side, what I'm trying to do is: when I call the endpoint via a POST request and I receive a code 204, I want to retry in 5 minutes. So I've been trying to use

[2021-05-24 09:22] #147 closed

[2021-06-05 12:38] Nevgup opened #148 "Use retry-axios without create an instance of axios"
Hello,

It is possible to use retry-axios like this :

[code]
or i have to use it like that :
[code]

And what is the best practice ?

Thanks !

[2021-06-17 16:04] alejandro-delgado-garcia commented on #144
wondering the same thing, if I want to test a function that uses axios with a retry config how can write my test to make sure the request is being retried.

In `req.js`

[code]

In `test.spec.js`
[code]

[2021-06-17 19:00] alejandro-delgado-garcia commented on #144
I found a solution to my issue by using `nock`, thanks anyways

[2021-07-02 07:56] akshayrohatgi-hotstar opened #154 "Exponential Retry should be configurable. By default is 1000ms"

[2021-08-10 15:57] iag opened #157 "Add "PATCH" operations to the httpMethodsToRetry"
Just a small enhancement, it may be useful to also support HTTP PATCH operations by default in the httpMethodsToRetry Array.

[2021-08-13 13:45] gambrose commented on #116
I see that #142 is merged in.
Can I ask when is this feature going to be released?

[2021-08-14 03:44] JustinBeckwith commented on #157
Greetings, and thanks for the suggestion!  The current list of methods in `httpMethodsToRetry` are all ones which _should_ be idempotent.  The `PATCH` HTTP method typically is not considered to be idempotent.

From https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH:

The good news is that for your use cases, if you're sure that submitting the `PATCH` won't have side effects, you can o

[2021-08-14 03:44] #157 closed

[2021-08-14 03:47] JustinBeckwith commented on #154
Greetings!  Could you share a few more details?  Per the README, you can set the `backoffType` to 'exponential' (default), 'static' or 'linear'.  You can set the initial delay with the `retryDelay` property.  Which characteristic are you specifically having trouble controlling?

[2021-08-14 03:49] JustinBeckwith commented on #148
Greetings!  You can attach `retry-axios` to the global `axios` object, and it will retry all requests.  From the README:

[code]

Hope this helps!

[2021-08-14 03:49] #148 closed

[2021-08-14 21:52] JustinBeckwith commented on #104
So this is a little confusing :) One thing to look out for here, are that there are separate settings for `retry` and `noResponseRetries`.  The `retry` number will be used if you connect to the endpoint, and get a non-2xx response.  The `noResponseRetries` is specifically used in the case where the connection was never made, like `ETIMEDOUT` or  `ENOTFOUND` errors.

To get it to use 3 retries ever

[2021-08-14 21:52] #104 closed

[2021-08-16 10:55] jgehrcke commented on #122
attempt to fix that in https://github.com/JustinBeckwith/retry-axios/pull/163

[2021-08-18 17:19] ultrarunner commented on #144
I have the same issue. I posted a question on stackoverflow here: https://stackoverflow.com/questions/68836524/jest-unit-test-and-retry-axios-node-js
Appreciate any feedback on what I am doing wrong. Thank you so much.

[2021-08-20 09:06] iag commented on #157
That makes a lot of sense; thanks for considering!

[2021-08-20 18:57] padamstx opened #164 "Question re: max retry delay"
Hi,
I work in the IBM Cloud Developer Experience group and we're considering the use of this package in our Node SDK "core" library (an enabling layer that is a dependency of our various IBM Cloud Node SDKs).

In studying the package a bit, it looks like there is perhaps one small requirement that we have that might not currently be supported.  We would want to use the exponential backoff policy,

[2021-08-21 14:40] JustinBeckwith commented on #164
That sounds great!  Happy to accept a PR.

[2021-08-23 13:35] padamstx commented on #164
@JustinBeckwith Thanks Justin, we'll get a PR submitted for this.   I'm thinking that this new maxRetryDelay value would only apply to the exponential backoff case (it wouldn't affect the linear or static scenarios).  Do you agree?

[2021-08-23 16:28] JustinBeckwith commented on #164
Looks like this was applied and shipped already here :)  https://github.com/JustinBeckwith/retry-axios/pull/165

[2021-08-23 16:28] #164 closed

[2021-08-30 09:19] renovate[bot] opened #167 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency typescript to ~4.4.0](../pull/166)

## Ignored or Blocked

These are blocked by an existing closed PR and will

[2021-09-15 13:53] kvv002 commented on #138
Hi @JustinBeckwith , any update on this enhancement?

[2021-10-18 17:00] aaltvater opened #172 "A jitter option would be a nice feature"
Suggestion:  please add jitter (as in [exponential backoff and jitter](https://aws.amazon.com/blogs/architecture/exponential-backoff-and-jitter/   ))

[2021-10-26 20:19] elie222 opened #174 "Stalls on third attempt"
This is our config:

[code]

After printing `onRetryAttempt. attempt #2` it just stops altogether. I would have thought it would error and we could continue on from there but it just halts everything.

Are we doing something wrong?

[2021-11-12 09:18] tyrann opened #176 "Retry on non-error codes"
Is there a way to use this library on HTTP success return codes (200 - 226) ?

It seems that the retry mechanism can only be achieved on error codes as this code does not trigger a retry on a 204:

[code]

[2021-12-29 00:23] pravosleva opened #177 "Question: Network shutdown case"
Should request be retried when network disconnected? (No retries. Why?)

![изображение](https://user-images.githubusercontent.com/19761493/147616508-4ba6a4c3-3451-4779-9de2-1726e2c78432.png)

[code]

[2022-01-20 20:07] daneren2005 commented on #174
I am seeing the same thing.  I am using my own custom shouldRetry handler to get around this.  If you add

[code]

you will see that on the second run the `httpMethodsToRetry` and `statusCodesToRetry` properties are empty arrays.  I'm assuming that internally they are relying on this same code, so an empty array for both of those means that it is just ignoring everything and only retrying a single

[2022-05-05 18:37] jakepearson opened #189 "Problem with 3.0.0"
Hi,
Dependabot updated my service deps this morning and our e2e tests started to fail. We now get this error in our code that is generated off off an openapi spec. Any ideas on how to work around it? Error message is below.

[code]

[2022-05-05 23:44] JustinBeckwith commented on #189
Weird. I can't think of anything that would specifically cause this ... but usually when I see `// @ts-ignore` it means I'm about to have a bad time :) This will sound silly, but have you tried deleting your `package-lock.json`, running `npm install`, and trying again?

[2022-05-06 15:02] #189 closed

[2022-05-06 15:34] JustinBeckwith commented on #189
It would be _super_ helpful if you had a small repro I could work from - if you have anything else to share, or any more details ... let me know!

[2022-05-08 00:43] leopucci opened #191 "How to use this lib on node js? It does not retry"
Hey there, nice work on this lib!

I am having trouble to use on node.js for some reason it does not retry.
I am already using axios interceptors for request to put the Bearer JWT Token on place.
Any hints?

[code]

Simple config, nothing fancy.

I am using basico post methods

[code]

So to test I am shuting down the server and getting ECONNREFUSED but there is no retry on them, it´s going direct

[2022-05-08 05:34] JustinBeckwith commented on #191
Greetings!  By default, this module will not retry requests using the `POST` method.  HTTP POST is generally not considered to be idempotent, so it wouldn't be safe to try these multiple times in many cases.  If you wanna hit with a hammer and retry though, you can pass `POST` into the list of accepted values in `httpMethodsToRetry`:

[code]

Best of luck!

[2022-05-08 05:34] #191 closed

[2022-05-08 12:43] leopucci commented on #191
Thank you @JustinBeckwith indeed I forgot to put this option on the github issue but definitely is not it.
I also tested a simple get to a unknown address and there is no retry on that either
What is happening is that the config that i set is not the same config on the error
Below is the .get, the return and then the config that was set. 404 is inside [400,499] but on the error response there is n

[2022-05-08 23:21] JustinBeckwith commented on #191
Are you 100% sure about the options you're passing in?  A small, very specific code sample that shows what y ou're seeing would be super helpful.  I'm specifically poking at this:

[code]

That makes it look like maybe you're not including 404s in the status codes to retry ...

[2022-05-09 11:58] leopucci commented on #191
Hi @JustinBeckwith I know it sounds strange, it´s real it´s not working.
I´m using this on electron, but on a node thread not electron thread.

This is part of my code.
This is what I did
My config just got ignored and the error contain some default config I guess

[code]

And this is the log of the error from axios

[code]

[2022-05-09 18:16] leopucci commented on #191
@JustinBeckwith aside from that, could you clarify another thing?
`If you wanna hit with a hammer and retry though, you can pass POST into the list of accepted values in httpMethodsToRetry:`
Why do you consider POST a hammer? what changes on the http request that makes post worst that get?
I´m telling you because I changed some of my requests to post on the server side and didn´t considered someth

[2022-05-09 18:41] JustinBeckwith commented on #191
Sure!  So an HTTP POST could result in changes being made to the state of the data on the server.  When you get something like a 500 response code from a web server, that really makes it unclear to any client if the actual changes desired by the request have been reflected on the backend.  As a result, retrying a POST request is considered dangerous - after the second POST, you can't confirm the s

[2022-05-09 18:52] leopucci commented on #191
Thanks @JustinBeckwith it´s clear to me now. If you have some hint on the node thread running axios that does not retry, this also happens with other modules, somehow axios is diferent on node/electron.. but I manage to use it on both threads, electron and nodejs thread... but I can´t use plugins somehow.

Thanks man

[2022-05-09 20:57] JustinBeckwith commented on #176
Greetings!  The library relies on an exception being surfaced up as a result of the request.  To make it trigger for a 204, you could try implementing your own `validateStatus` method in the axios config parameters:
https://github.com/axios/axios

[code]

[2022-05-09 20:57] #176 closed

[2022-05-18 20:04] SJrX opened #192 "BUG: noResponseRetries > 0 not retried"
Hello,

We wanted to use this project for to retry random ECONNRESET errors however we noticed that they didn't get retried at all. There were a couple issues (including another broken interceptor), but there was still a bug in this project.

[code]

If you are only retrying noResponseRetries we always return false.

I changed the logic to this, but it still has another bug that I didn't want to f

[2022-05-19 20:35] LoganArnett opened #193 "v3 Breaks Typescript Build"
I am not entirely sure what the issue is but on v2.6.0 everything works so I reverted back to that version but when I attempted to build the same project o v3.0.0 with a node version of v16+ the build succeeds with no errors but when the code is run I get this error:

[code]

I attempted to change the import structure between both
[code]

And still got the same error.

Just curious if there is som

[2022-05-30 15:23] zymotik commented on #193
I have an error that I believe it related when using the Vue 2.6 build tools. I see a message in the console "This dependency was not found" with the suggestion "To install it, you can run: npm install --save retry-axios"

[code]
Versions:
TypeScript version 4.3.4
retry-axios 3.0.0
VueJs 2.6.14
@vue/cli-service 4.5.13

[2022-06-08 18:38] zibok commented on #189
Or @jakepearson did you find a way to make it work?

[2022-06-23 10:49] alexcroox opened #195 "v3 no longer supports browser usage?"
Am I reading the release notes for v3 correctly in that this module is only for node now and browser usage has been dropped?

https://github.com/JustinBeckwith/retry-axios/releases/tag/v3.0.0

[2022-07-06 18:55] leopucci opened #196 "onRetryAttempt how to change baseUrl dinamically while retrying"
Hey there!
Any hints on how I could change the baseurl on the retry attempt?

[code]

[2022-07-06 19:10] JustinBeckwith commented on #196
What does your retry pattern look like?  If you're changing the underlying base url, I am guessing you don't need things like backoff ... heck I would wager you don't even need this library :) Instead you could just wrap things in a try/catch, and if it throws, just retry immediately with the new base url.

That having been said .... you should be able to do something like:

[code]

[2022-07-07 14:10] #196 closed, assigned to nobody

[2022-07-07 18:25] leopucci commented on #191
https://stackoverflow.com/a/64650151/3156756

Seems that is not only me that is having trouble to use this lib.
`
const res = await myAxiosInstance.get('https://test.local', { raxConfig } );`

Do I need to attach this raxConfig with the request even if I did attached everything?

[2022-07-07 18:57] leopucci commented on #191
This lib does not work on node threads. for some reason it does not retry on any way.

[2022-07-07 19:06] leopucci commented on #191
@JustinBeckwith could you reopen this issue? I can´t make it work on node_thread

[2022-07-07 19:13] leopucci commented on #191
Seems to work with get... does not work with posts

[2022-07-07 19:15] leopucci commented on #191
Interceptor Response shows that my configuration is being overrided with default config

[code]

[2022-07-07 19:23] leopucci commented on #191
Solved with some tweaks

[code]

[2022-07-12 14:48] ashkanjj commented on #193
I'm getting the same, happy to create a reproducible setup in somewhere like codesandbox if anyone is happy to look into this?

[2022-07-15 08:55] leefsmp commented on #193
Same here, getting error `ERR_REQUIRE_ESM` which seems to be related to the way lib is being exported. [](https://github.com/standard-things/esm/issues/868). Reverting to 2.6.0 works thanks.

[2022-07-22 14:41] leopucci commented on #193
![image](https://user-images.githubusercontent.com/38509299/180463454-bbc03e2f-bb7a-4bb6-bdc7-ee49e333dd8c.png)

[2022-08-05 06:47] DavidHe1127 commented on #193
We see a different error
[code]

Adding config below to transform that file doesn't work

[code]

[2022-09-07 14:53] jarenal opened #197 "Question: Exponential Backoff execution times"
Hi guys,

a question about how works the Exponential Backoff algorith...

If I use these settings:

[code]

When will be executed the last try?

If I'm not wrong the first try will be executed 3 seconds after the original request, right?

- **ORIGINAL REQUEST:** 0 seconds
- **FIRST TRY:** After 3 seconds
- **SECOND TRY:** No idea
- **THIRD TRY:** No idea

How can I calculated when the second and t

[2022-09-08 15:27] jarenal commented on #197
Maybe someone find this is useful...

17:11:23 First request...
17:11:25 Retry attempt #1
17:11:27 Retry attempt #2
17:11:30 Retry attempt #3
17:11:35 Retry attempt #4
17:11:44 Retry attempt #5
17:12:01 Retry attempt #6
17:12:34 Retry attempt #7
17:13:39 Retry attempt #8
17:15:48 Retry attempt #9
17:20:05 Retry attempt #10

[2022-09-14 11:54] AKhalil609 opened #198 "Import fails after Jest v28 update (Cannot use import statement outside a module)"
I've been having trouble with imports failing when running tests on the file that has `retry-axios` imported.
This error only appears when running tests with jest ever since jest v28 update.
I get no errors when building or running the project.

` FAIL  tests/core/HttpClient.spec.ts
  ● Test suite failed to run

    Jest encountered an unexpected token

    Jest failed to parse a file. This happen

[2022-10-24 20:23] m-swat opened #203 "Failed to execute 'setRequestHeader' on 'XMLHttpRequest'"
Hi,
i'm getting error like 'Failed to execute 'setRequestHeader' on 'XMLHttpRequest'' on 5xx error when retrying should occur.

Here is a full Error message:

SyntaxError:Failed to execute 'setRequestHeader' on 'XMLHttpRequest': 'function(header, parser) {
    header = normalizeHeader(header);

    if (!header) return undefined;

    const key = findKey(this, header);

    if (key) {
      const v

[2022-11-07 10:40] neillfontes-klar opened #205 "retry-axios doesn't work with latest axios release v1.1.3"
I have a project that uses `retry-axios` with `axios v0.27.2`. It has been upgraded to `axios v1.1.3` and the retries simply stopped working - it looks to me that the retries are somehow cached and the response is not being updated from the server. Downgrading to the previous `v0.27.2` release solved the problem.

This is roughly how the code is structured:

[code]

Possibly relates to https://git